DS_Store
.directory
imdb-collaboration-graph/results/graph/imdbgraph.graph

imdb-collaboration-graph/results/arcslists/

imdb-collaboration-graph/results/metis/metis250000.graph

imdb-collaboration-graph/bin/

